@font-face {
  font-family: "Ruberoid";
  src: url("Ruberoid-Regular.eot");
  src: local("Ruberoid"), local("Ruberoid-Regular"),
    url("Ruberoid-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Ruberoid-Regular.woff2") format("woff2"),
    url("../fonts/Ruberoid-Regular.woff") format("woff"),
    url("../fonts/Ruberoid-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaCond-RegularIt.eot");
  src: local("Ruberoid"), local("Ruberoid-Regular"),
    url("../fonts/ProximaNovaCond-Regular.woff") format("woff"),
    url("../fonts/ProximaNovaCond-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts//ProximaNovaCond-SemiboldIt.eot");
  src: local("Ruberoid"), local("Ruberoid-Regular"),
    url("../fonts/ProximaNovaCond-Semibold.woff") format("woff"),
    url("../fonts/ProximaNovaCond-Semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration-line: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

/* main */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 114px;
  max-width: 1360px;
  margin: 0 auto;
}

.nav ul {
  width: 646px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  color: #495e4c;
}

.header-btn button {
  width: 190px;
  height: 55px;
  background: #5ccd6a;
  border-radius: 17px;
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
}

.header-btn {
  width: 210px;
  height: 75px;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-image: url("../img/main.jpg");
  background-size: cover;
  min-height: 820px;
  background-position: center;
}

.main-txt {
  padding-top: 80px;
  max-width: 1170px;
  margin: 0 auto;
}

.main-title {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #495e4c;
}

.main-line {
  width: 148px;
  height: 3px;
  background: #78c081;
  border-radius: 1.5px;
  display: block;
  margin-right: 45px;
}

.main-together {
  display: flex;
  align-items: center;
}

.main-txt h1 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #78c081;
}

.main-desc {
  padding-top: 20px;
}

.main-desc {
  display: flex;
  padding-top: 20px;
}

.main-desc p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #7ca381;
  padding-left: 24px;
  max-width: 453px;
}

.main-bottom {
  padding-top: 52px;
  max-width: 458px;
  display: flex;
  justify-content: space-between;
}

.main-bottom__location,
.main-bottom__tel {
  display: flex;
  align-items: center;
}

.main-bottom__location img {
  margin-right: 24px;
}

.main-bottom__location p,
.main-bottom__tel p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7b897d;
}

.main-bottom__location p {
  max-width: 154px;
}

.main-bottom__tel img {
  margin-right: 22px;
}

.main-bottom__tel p {
  max-width: 113px;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 477px;
  height: 115px;
  background: rgba(120, 192, 129, 0.25);
  border-radius: 40px;
  margin-top: 63px;
}

.main-btn button {
  width: 447px;
  height: 85px;
  background: #5ccd6a;
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  border-radius: 30px;
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

/* services */

.services {
  padding: 100px 0;
  display: flex;
}

.services-txt {
  max-width: 1170px;
  margin: 0 auto;
}

.services-title {
  display: block;
  padding-bottom: 22px;
}

.services-title h2,
.services-title p {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
}

.services-title p {
  display: flex;
  align-items: center;
}

.services-line {
  display: block;
  width: 245px;
  height: 2px;
  background: #78c081;
  border-radius: 1.5px;
  margin-left: 35px;
}

.services-desc {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  padding-bottom: 20px;
  max-width: 444px;
}

.services-accordion__btn {
  display: grid;
  background: #d9fadd;
  border-radius: 45px 0px 0px 45px;
  padding: 10px;
  height: 486px;
}

.services-btn__system svg {
  top: 25px;
  right: 16px;
  position: absolute;
  fill: #7ca281;
}

.services-accordion__btn p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7ca281;
  transform: rotate(270deg);
}

.services-btn__system p {
  transform: rotate(-90deg);
  position: absolute;
  right: -23px;
  bottom: 70px;
}

.services-btn__kond p {
  position: absolute;
  right: -23px;
  bottom: 70px;
}

.services-btn__system {
  width: 65px;
  height: 233px;
  background: white;
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  border-radius: 40px 0px 0px 0;
  display: block;
  cursor: pointer;
  position: relative;
}

.services-btn__kond {
  width: 65px;
  height: 233px;
  background: #ffffff;
  display: block;
  cursor: pointer;
  border-radius: 0px 0px 0px 40px;
  position: relative;
}

.services-btn__kond svg {
  top: 25px;
  right: 16px;
  position: absolute;
}

.extra-class {
  background: #5ccd6a;
}

.extra-class svg {
  fill: white;
}

.extra-class p {
  color: #ffffff;
}

.services-accordion__item {
  width: 676px;
  height: 655px;
  background: #d9fadd;
  border-radius: 65px 0px 0px 65px;
  display: none;
}

.services-accordion {
  display: flex;
  align-items: center;
}

.active {
  display: flex;
  align-items: center;
}

.services-accordion__txt {
  padding: 0 40px 0 20px;
}

.services-accordion__txt-item {
  display: flex;
  padding-bottom: 20px;
  align-items: flex-start;
}
.services-accordion__txt-item img {
  margin-right: 15px;
}

.services-accordion__txt-item p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #495d4c;
  max-width: 308px;
}

/* work */

.work {
  padding-bottom: 60px;
  background-image: url("../img/work.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 488px;
}

.work-title {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 85px;
}

.work-title h2,
.work-title p {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
}

.work-title p {
  display: flex;
  align-items: center;
}

.work-title span {
  display: block;
  width: 236px;
  height: 3px;
  background: #78c081;
  border-radius: 1.5px;
  margin-left: 30px;
}

.work-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
  max-width: 1170px;
  margin: 0 auto;
  grid-column-gap: 47px;
  grid-row-gap: 35px;
}

.work-wrapper__item {
  width: 257px;
  filter: drop-shadow(0px 2px 4px rgba(46, 35, 25, 0.3));
  border-radius: 25px 25px 0px 0px;
  position: relative;
}

.work-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 43px;
  background: #ffffff;
  backdrop-filter: blur(1px);
  border-radius: 0px 0 20px 20px;
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #78c081;
}

.work-prace {
  width: 119px;
  height: 28px;
  background: #d9fadd;
  border-radius: 0px 10px 10px 0px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #495d4c;
  position: absolute;
  left: 0;
  top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* step */

.step {
  padding: 60px 0 100px 0;
}

.step-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 95px;
  max-width: 1170px;
  margin: 0 auto;
}

.step-title h2,
.step-title p {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
}

.step-title h2 {
  display: flex;
  align-items: center;
}

.step-title span {
  display: block;
  width: 100px;
  height: 2px;
  background: #78c081;
  border-radius: 1.5px;
  margin-left: 23px;
}

.step-desc h3 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  text-transform: capitalize;
  color: #78c081;
  padding-bottom: 12px;
}

.step-desc__item {
  display: flex;
  padding-bottom: 8px;
  align-items: baseline;
}

.step-desc__item img {
  margin-right: 10px;
}

.step-desc__item p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7ca381;
}

.step-line {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow: hidden;
}

.step-line__item {
  text-align: center;
}

.step-line__item p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #495e4c;
  padding-top: 20px;
  width: 165px;
}

.vector {
  display: flex;
  align-items: center;
}

/* form */

.application {
  background-image: url("../img/form.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 248px;
  max-height: 248px;
  background-color: #d9fadd;
}

.form-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 55px;
}

.form-wrapper h2 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #495e4c;
  padding-bottom: 33px;
}

.form {
  display: flex;
}

.form input {
  width: 290px;
  height: 57px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(73, 93, 76, 0.15);
  border-radius: 15px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(124, 163, 129, 0.7);
  padding-left: 20px;
  margin-right: 30px;
}

.form span {
  width: 229px;
  height: 75px;
  background: rgba(120, 192, 129, 0.25);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.form button {
  width: 209px;
  height: 55px;
  background: #9cd3a3;
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  border-radius: 17px;
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

/* about */

.about {
  padding-top: 117px;
  position: relative;
}

.about-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 96px;
  align-items: center;
}

.about-ellipse {
  position: absolute;
  top: 117px;
  width: 656px;
  height: 499px;
  left: 0;
  z-index: 1;
}

.about-wrapper__txt {
  width: 531px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
  border-radius: 50px;
  padding: 33px 44px 33px 36px;
  position: relative;
  z-index: 2;
}

.about-wrapper__txt h2 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
}

.abot-desc {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 25px;
  color: #848484;
}

.about-wrapper__txt span {
  font-size: 21px;
  line-height: 28px;
  color: #78c081;
  border-bottom: #78c081;
}

.about-title__bottom {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
  padding: 10px 0 20px 0;
}

.about-title_bottom {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
  padding-top: 10px;
  padding-bottom: 20px;
}

.about-descr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 53px;
}

.about-descr__item h3 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 47px;
  text-align: center;
  color: #78c081;
  display: flex;
}

.about-descr__item span {
  font-size: 35px;
  text-transform: capitalize;
}

.about-descr__item p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #7ca381;
  max-width: 198px;
  margin: 0 auto;
  padding-top: 15px;
}

/* comfort */

.comfort {
  position: relative;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comfort-txt {
  max-width: 1170px;
  margin: 0 auto;
}

.comfort-txt h2 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
  max-width: 495px;
  padding-bottom: 30px;
}

.comfort-txt li img {
  margin-right: 10px;
  padding-top: 5px;
}

.comfort-txt li {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7ca381;
  max-width: 495px;
  display: flex;
  align-items: start;
  padding-bottom: 12px;
}

.comfort-img {
  height: 800px;
}

.comfort-desc {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  padding-bottom: 50px;
  max-width: 496px;
}

.comfort span {
  width: 477px;
  height: 115px;
  background: rgba(120, 192, 129, 0.25);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comfort button {
  width: 447px;
  height: 85px;
  background: #5ccd6a;
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  border-radius: 30px;
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

/* scheme */

.scheme {
  padding-top: 100px;
  max-width: 1170px;
  margin: 0 auto;
}

.scheme h2 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
  padding-bottom: 15px;
}

.scheme-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 20px;
}

.scheme-wrapper__item:nth-child(2n) {
  margin-top: 50px;
}

.scheme-wrapper__item {
  background-image: url("../img/scheme.png");
  background-size: cover;
  width: 496px;
  height: 254px;
  background-repeat: no-repeat;
  background-position: center right;
  display: block;
  margin: 0 auto;
}

.scheme-wrapper__item h3 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 47px;
  text-transform: capitalize;
  color: #78c081;
  padding: 84px 0 15px 0;
}

.scheme-wrapper__item p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #495e4c;
  max-width: 446px;
}

.act {
  display: block;
  margin: 40px auto 0 auto;
  text-align: center;
}

/* portfolio */

.portfolio {
  padding-top: 100px;
  position: relative;
}

.portfolio-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.portfolio-top {
  max-width: 1170px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.portfolio-top h2 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
  max-width: 413px;
}

.portfolio-top p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  max-width: 641px;
}

.portfolio {
  padding-top: 100px;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.portfolio-item {
  background-image: url("../img/swiper-top.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 456px;
  position: relative;
}

.portfolio-item span {
  display: block;
  padding-top: 264px;
  padding-left: 80px;
}

.portfolio-item h3 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-transform: capitalize;
  color: #ffffff;
}

.portfolio-item p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  display: none;
}

.portfolio-item__img {
  padding-top: 35px;
  width: 164px;
}

.portfolio-img {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 1;
}

.swiper-button-next {
  background-image: url("../img/next.svg") !important;
  background-size: 46px 46px !important;
  background-repeat: no-repeat;
  background-position: center;
  position: relative !important;
  margin: 0 !important;
  width: 60px !important;
  height: 60px !important;
}

.swiper-button-prev {
  background-image: url("../img/prev.svg") !important;
  background-size: 46px 46px !important;
  background-repeat: no-repeat;
  background-position: center;
  position: relative !important;
  margin: 0 50px 0 0 !important;
  width: 60px !important;
  height: 60px !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.swipper-btn {
  max-width: 1170px;
  margin: 0 auto 25px auto;
  position: relative;
  z-index: 2;
  display: flex;
}

.swiper-slide-active {
  width: 500px !important;
}

.swiper-slide-active .portfolio-item p {
  display: block;
}

/* clients */

.clients {
  margin-top: 100px;
  background-image: url("../img//clients.png");
  min-height: 515px;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 165px;
}

.clients-txt {
  max-width: 1170px;
  margin: 0 auto;
}

.clients-txt h2 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
  display: flex;
  align-items: center;
}

.clients-txt h2 span {
  display: block;
  width: 105px;
  height: 2px;
  background: #78c081;
  border-radius: 1.5px;
  margin-left: 35px;
}

.clients-title {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
  padding-bottom: 25px;
}

.clients-desc {
  max-width: 627px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
}

.mySwiper2 .swiper-slide-active {
  width: auto !important;
}

.mySwiper2 {
  height: 210px !important;
}

.mySwiper2 .swipper-btn {
  justify-content: center;
}

.mySwiper2 .swiper-wrapper {
  height: 150px !important;
}

.mySwiper2 .swiper-slide {
  height: 150px !important;
  width: auto !important;
}

/* footer */

.footer {
  min-height: 528px;
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-wrraper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 86px 0 94px 0;
  display: flex;
  justify-content: space-between;
}

.footer-desc {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #7ca381;
  max-width: 406px;
  padding-top: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #78c081;
}

.footer-slogan {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #495d4c;
  padding-top: 35px;
}

.footer-slogan span {
  font-size: 22px;
  line-height: 26px;
  text-transform: capitalize;
  color: #78c081;
}

.footer-contact {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: #495e4c;
  padding-bottom: 25px;
}

.footer-contact__span {
  display: flex;
  align-items: center;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7b897d;
  border-bottom: 1px solid rgba(190, 225, 194, 0.5);
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.footer-contact__span img {
  margin-right: 15px;
}
.footer-contact__bottom img {
  margin-right: 15px;
}

.footer-contact__bottom {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-contact__bottom p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 184px;
  color: #7b897d;
}

.form-footer h4 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: #495e4c;
  padding-bottom: 25px;
}

.form-footer {
  max-width: 290px;
}

.form-footer input {
  width: 290px;
  height: 49px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
  border-radius: 15px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7ca381;
  margin-bottom: 20px;
  padding-left: 20px;
}

.form-footer span {
  display: flex;
  width: 229px;
  height: 75px;
  justify-content: center;
  align-items: center;
  background: rgba(120, 192, 129, 0.25);
  border-radius: 20px;
}

.form-footer span button {
  width: 209px;
  height: 55px;
  background: #5ccd6a;
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  border-radius: 17px;
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

/* popup */

.burger {
  display: none;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(217, 250, 221, 0.55);
  backdrop-filter: blur(10px);
}

.popup.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
  width: 445px;
  background: #d9fadd;
  box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
  border-radius: 50px;
}

.close-button {
  position: absolute;
  top: -78px;
  right: 50px;
  width: 30px;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popup h3 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  text-transform: capitalize;
  color: #495e4c;
  padding: 35px 0 0 35px;
}

.popup-title {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  text-transform: capitalize;
  color: #495e4c;
  display: flex;
  align-items: center;
  padding: 0 0 20px 35px;
}

.popup-title span {
  width: 136px;
  height: 2px;
  background: #78c081;
  border-radius: 1.5px;
  display: block;
  margin-left: 10px;
}

.popup-main {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
  border-radius: 35px 35px 50px 50px;
  padding: 35px;
}

.popup-main__desc {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7ca381;
  padding-bottom: 20px;
}

.popup-main__tel {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #7ca381;
  padding-bottom: 15px;
}

.time {
  display: flex;
  align-items: center;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #7ca381;
  padding-bottom: 45px;
}

.time img {
  margin-right: 15px;
}

.popup-tel {
  display: flex;
  justify-content: space-between;
}

.popup-tel span {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #7b897d;
  display: flex;
  align-items: center;
  width: 48%;
}

.popup-tel span img {
  margin-right: 15px;
}

.popup-tel__first {
  border-right: 1px solid rgba(190, 225, 194, 0.5);
}

.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #d9fadd;
  z-index: 100;
}

.menu-toggler {
  z-index: 200;
  position: relative;
}

.menu {
  text-align: center;
  padding-top: 50px;
}

.menu a {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  color: #495e4c;
}

.menu li {
  padding-bottom: 15px;
}

.popup-form input {
  width: 342px;
  height: 49px;
  margin: 0 auto 20px auto;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(66, 83, 69, 0.14);
  border-radius: 15px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7ca381;
  padding-left: 20px;
  outline: none;
}

.popup-form span {
  width: 342px;
  height: 75px;
  background: rgba(120, 192, 129, 0.25);
  border-radius: 20px;
  margin: 15px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-form button {
  width: 322px;
  height: 55px;
  background: #5ccd6a;
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  border-radius: 17px;
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.popup-img {
  display: block;
  margin: 15px auto;
}
