@font-face {
  font-family: "Ruberoid";
  src: url("Ruberoid-Regular.eot");
  src: local("Ruberoid"), local("Ruberoid-Regular"),
    url("Ruberoid-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Ruberoid-Regular.woff2") format("woff2"),
    url("../fonts/Ruberoid-Regular.woff") format("woff"),
    url("../fonts/Ruberoid-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaCond-RegularIt.eot");
  src: local("Ruberoid"), local("Ruberoid-Regular"),
    url("../fonts/ProximaNovaCond-Regular.woff") format("woff"),
    url("../fonts/ProximaNovaCond-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts//ProximaNovaCond-SemiboldIt.eot");
  src: local("Ruberoid"), local("Ruberoid-Regular"),
    url("../fonts/ProximaNovaCond-Semibold.woff") format("woff"),
    url("../fonts/ProximaNovaCond-Semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration-line: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

/* main */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 114px;
  max-width: 1360px;
  margin: 0 auto;
}

.nav ul {
  width: 646px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  color: #495e4c;
}

.header-btn button {
  width: 190px;
  height: 55px;
  background: #5ccd6a;
  border-radius: 17px;
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
}

.header-btn {
  width: 210px;
  height: 75px;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-image: url("../img/main.jpg");
  background-size: cover;
  min-height: 820px;
  background-position: center;
}

.main-txt {
  padding-top: 80px;
  max-width: 1170px;
  margin: 0 auto;
}

.main-title {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #495e4c;
}

.main-line {
  width: 148px;
  height: 3px;
  background: #78c081;
  border-radius: 1.5px;
  display: block;
  margin-right: 45px;
}

.main-together {
  display: flex;
  align-items: center;
}

.main-txt h1 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #78c081;
}

.main-desc {
  padding-top: 20px;
}

.main-desc {
  display: flex;
  padding-top: 20px;
}

.main-desc p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #7ca381;
  padding-left: 24px;
  max-width: 453px;
}

.main-bottom {
  padding-top: 52px;
  max-width: 458px;
  display: flex;
  justify-content: space-between;
}

.main-bottom__location,
.main-bottom__tel {
  display: flex;
  align-items: center;
}

.main-bottom__location img {
  margin-right: 24px;
}

.main-bottom__location p,
.main-bottom__tel p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7b897d;
}

.main-bottom__location p {
  max-width: 154px;
}

.main-bottom__tel img {
  margin-right: 22px;
}

.main-bottom__tel p {
  max-width: 113px;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 477px;
  height: 115px;
  background: rgba(120, 192, 129, 0.25);
  border-radius: 40px;
  margin-top: 63px;
}

.main-btn button {
  width: 447px;
  height: 85px;
  background: #5ccd6a;
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  border-radius: 30px;
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

/* services */

.services {
  padding: 100px 0;
  display: flex;
}

.services-txt {
  max-width: 1170px;
  margin: 0 auto;
}

.services-title {
  display: block;
  padding-bottom: 22px;
}

.services-title h2,
.services-title p {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
}

.services-title p {
  display: flex;
  align-items: center;
}

.services-line {
  display: block;
  width: 245px;
  height: 2px;
  background: #78c081;
  border-radius: 1.5px;
  margin-left: 35px;
}

.services-desc {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  padding-bottom: 20px;
  max-width: 444px;
}

.services-accordion__btn {
  display: grid;
  background: #d9fadd;
  border-radius: 45px 0px 0px 45px;
  padding: 10px;
  height: 486px;
}

.services-btn__system svg {
  top: 25px;
  right: 16px;
  position: absolute;
  fill: #7ca281;
}

.services-accordion__btn p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7ca281;
  transform: rotate(270deg);
}

.services-btn__system p {
  transform: rotate(-90deg);
  position: absolute;
  right: -23px;
  bottom: 70px;
}

.services-btn__kond p {
  position: absolute;
  right: -23px;
  bottom: 70px;
}

.services-btn__system {
  width: 65px;
  height: 233px;
  background: white;
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  border-radius: 40px 0px 0px 0;
  display: block;
  cursor: pointer;
  position: relative;
}

.services-btn__kond {
  width: 65px;
  height: 233px;
  background: #ffffff;
  display: block;
  cursor: pointer;
  border-radius: 0px 0px 0px 40px;
  position: relative;
}

.services-btn__kond svg {
  top: 25px;
  right: 16px;
  position: absolute;
}

.extra-class {
  background: #5ccd6a;
}

.extra-class svg {
  fill: white;
}

.extra-class p {
  color: #ffffff;
}

.services-accordion__item {
  width: 676px;
  height: 655px;
  background: #d9fadd;
  border-radius: 65px 0px 0px 65px;
  display: none;
}

.services-accordion {
  display: flex;
  align-items: center;
}

.active {
  display: flex;
  align-items: center;
}

.services-accordion__txt {
  padding: 0 40px 0 20px;
}

.services-accordion__txt-item {
  display: flex;
  padding-bottom: 20px;
  align-items: flex-start;
}
.services-accordion__txt-item img {
  margin-right: 15px;
}

.services-accordion__txt-item p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #495d4c;
  max-width: 308px;
}

/* work */

.work {
  padding-bottom: 60px;
  background-image: url("../img/work.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 488px;
}

.work-title {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 85px;
}

.work-title h2,
.work-title p {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
}

.work-title p {
  display: flex;
  align-items: center;
}

.work-title span {
  display: block;
  width: 236px;
  height: 3px;
  background: #78c081;
  border-radius: 1.5px;
  margin-left: 30px;
}

.work-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
  max-width: 1170px;
  margin: 0 auto;
  grid-column-gap: 47px;
  grid-row-gap: 35px;
}

.work-wrapper__item {
  width: 257px;
  filter: drop-shadow(0px 2px 4px rgba(46, 35, 25, 0.3));
  border-radius: 25px 25px 0px 0px;
  position: relative;
}

.work-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 43px;
  background: #ffffff;
  backdrop-filter: blur(1px);
  border-radius: 0px 0 20px 20px;
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #78c081;
}

.work-prace {
  width: 119px;
  height: 28px;
  background: #d9fadd;
  border-radius: 0px 10px 10px 0px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #495d4c;
  position: absolute;
  left: 0;
  top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* step */

.step {
  padding: 60px 0 100px 0;
}

.step-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 95px;
  max-width: 1170px;
  margin: 0 auto;
}

.step-title h2,
.step-title p {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  color: #495e4c;
}

.step-title h2 {
  display: flex;
  align-items: center;
}

.step-title span {
  display: block;
  width: 100px;
  height: 2px;
  background: #78c081;
  border-radius: 1.5px;
  margin-left: 23px;
}

.step-desc h3 {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  text-transform: capitalize;
  color: #78c081;
  padding-bottom: 12px;
}

.step-desc__item {
  display: flex;
  padding-bottom: 8px;
  align-items: baseline;
}

.step-desc__item img {
  margin-right: 10px;
}

.step-desc__item p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7ca381;
}

.step-line {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.step-line__item {
  text-align: center;
}

.step-line__item p {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #495e4c;
  padding-top: 20px;
  width: 165px;
}

.vector {
  display: flex;
  align-items: center;
}
